body {
  margin: 0;
  padding: 0;
  background-color: #ffdaeb;
}

h1 {
  color: #ff69b4;
  text-align: center;
  margin-top: 10px;
  font-size: 3em;
  margin-bottom: 40px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  list-style: none; 
  margin: 20px;
  padding: 0;
}

button {
  background-color: #ff69b4;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  background-color: #ff33a0;
}

li {
  background-color: white;
  border: 1px solid #ff69b4;
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  text-align: center;
}

strong {
  
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
  font-family: 'Courier New', Courier, monospace;
 color: #ff69b4;
}

p {
  font-size: 0.9em;
  color: #fca8ea;
  margin-bottom: 10px;
}
.precio {
  font-size: 1.1em;
  color: #ff69b4;
  font-weight: bold;
}
button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 200px;
  border: 1px solid #ff69b4;
  border-radius: 5px;
}